#############################
# Build and dependency files
#############################
target/
build/
out/


.gitignore
HELP.md
mvnw.cmd
output.xlsx
.gitattributes
.factorypath

# Maven wrapper files
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle files
.gradle/
*.gradle
gradle-app.setting

#############################
# IDE specific files
#############################
# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

#############################
# Logs and temp files
#############################
*.log
*.tmp
*.swp
*.swo
*.bak

#############################
# Environment & secrets
#############################
.env
*.key
*.crt
*.pem

#############################
# OS-specific files
#############################
.DS_Store
Thumbs.db
